<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" id="note" placeholder="Enter your todo" [(ngModel)]="todo" />
  </div>

  <button class="btn btn-primary" (click)="addTodo(todo)" [disabled]="!todo" *ngIf="!editing">
    Add todo
  </button>

  <button class="btn btn-primary" (click)="updateTodo(todo)" *ngIf="editing">
    Update
  </button>

  <button class="btn btn-primary" (click)="cancelEdit()" *ngIf="editing">
    Cancel
  </button>

  <ul>
    <div *ngIf="todos$">
      <li *ngFor="let todo of todos$ | async; let i = index;" class="card d-flex flex-row">
        <div class="md-8">
          <span [class.done]="todo.done" class="p-3 d-inline-flex">{{ todo.value }}</span>
        </div>
        <div class="md-4">
          <button (click)="editTodo(todo, i)" class="btn btn-primary p-2 m-2">Edit</button>
          <button (click)="toggleTodo(todo, i)" class="btn btn-primary p-2 m-2">Toggle Done</button>
          <button (click)="removeTodo(i)" class="btn btn-danger m-2">X</button>
        </div>
      </li>
    </div>

  </ul>

</div>