<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" id="note" placeholder="Enter your todo" [(ngModel)]="todo" />
  </div>

  <button class="btn btn-primary" (click)="addTodo(todo)" [disabled]="!todo" *ngIf="!editing">
    Add todo
  </button>

  <button class="btn btn-primary" (click)="updateTodo(todo)" *ngIf="editing">
    Update
  </button>

  <button class="btn btn-primary" (click)="cancelEdit()" *ngIf="editing">
    Cancel
  </button>

  <ul>
    <li *ngFor="let todo of todos$ | async; let i = index;">
      <span [class.done]="todo.done">{{ todo.value }}</span>
      <button (click)="editTodo(todo, i)">Edit</button>
      <button (click)="toggleTodo(todo, i)">Toggle Done</button>
      <button (click)="removeTodo(i)">X</button>
    </li>
  </ul>

</div>